---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="EchoAmazon - Sign In" activePage="signin">
	<div class="page-header">
		<h1>Sign In</h1>
	</div>
	<div class="page-content">
		<p>Please sign in to continue.</p>
	</div>
</BaseLayout>

<style lang="sass">
	@use '../../styles/vars' as *

	.page-header
		margin-bottom: 2rem

		h1
			font-family: $font-family-heading
			font-size: 2.5rem
			color: var(--text-color)

	.page-content
		color: var(--text-color)
</style>
